#first{
    background-color: aqua;
}

#second{
    background-color: blue;
}

#third{
    background-color: pink;
}
#fourth{
    background-color: orange;
}
#fifth{
    background-color: plum;
}
#sixth{
    background-color: peru;
}
#seventh{
    background-color: orchid;
}
#eighth{
    background-color: palevioletred;
}
#ninth{
    background-color: powderblue;
}